@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Kode Mono';
}
body{
    height: 97dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

#navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    text-align: center;
    background-color: rgb(0, 255, 255,0.3);
    font-family: 'Lemon';
    user-select: none;
}

#navbar>h1{
    font-size: 3rem;
}

#container{
    width:40vw;
    height: auto;
    border:2px solid black;
    margin:auto;
    padding:10px;
    background-color: rgb(245, 245, 245,0.5);
    font-size: 16px;
    border-radius: 15px 5px 15px 5px;
    user-select: none;
}

#container form{
    display: flex;
    height:2rem;
    border: 1px solid black;
    padding:2px;
}

#searchbar{
    flex: 3;
    border: none;
    outline: none;
    font-size: 1rem;
    background-color: rgb(255, 255, 255,0.6);
}

#submitbtn{
    flex: 1;
    outline: none;
    border: none;
    background-color: skyblue;
    font-size: 1rem;
    font-family: 'Roboto';
    font-weight: 550;
}

#submitbtn:hover{
    cursor: pointer;
    background-color: rgb(100, 200, 240);
    color: black;
}

.weather-details{
    /* width:75%;
    height: auto; */
    /* border:2px black solid; */
    margin: 15px;
    position: relative;
    padding:6px;
}

.location-time{
    display: inline-block;
    position: absolute;
    right: 0px;
    text-align: right;
}

.temp-and-icon{
    display: flex;
    height: 100%;
}

.weather-details #temp{
    overflow: hidden;
    font-size: 3em;
    font-weight: bold;
}
